package views

import "github.com/hbourgeot/blog/views/partials/components"

templ Index() {
    <header>
        @components.Header()
    </header>
    <div class="flex justify-center mt-10">
    </div>
}

templ NotFound() {
	<div>404</div>
}